# Compiled SCOMP assembly files
*.mif

# Quartus output files
*.qmsg
*.vo
*.vho
*.tdo
*.sdo
*.tao
*.pin

# Quartus compilation files
db/*
incremental_db/*

# Quartus report files
*.rpt
*.summary
*.done

# Quartus executables
*.pof
*.sof
