# Compiled SCOMP assembly files
*.mif
!SIN_table.mif
!COS_table.mif
!SOUND.mif

# SCASM error files
*.err

# Merged asm file
output.asm

# Quartus output files
*.qmsg
*.vo
*.vho
*.tdo
*.sdo
*.tao

# Quartus compilation files
db/*
incremental_db/*

# Quartus report files
*.rpt
*.summary
*.done

# Quartus executables
*.pof
*.sof

#Quartus backup files
*.bak
